ATLAS_WORKSPACE_ROOT=.
ATLAS_DATA_DIR=.atlas
ATLAS_LOG_LEVEL=INFO
ATLAS_JSON_LOGS=false
ATLAS_MODEL_TIMEOUT_SECONDS=120
ATLAS_OPERATION_TIMEOUT_SECONDS=1800
ATLAS_MAX_TOOL_OUTPUT_BYTES=131072
ATLAS_MAX_READ_BYTES=1048576
ATLAS_APPROVAL_MODE=on_request
ATLAS_ALLOW_NETWORK=false
